#ignore these files
*.a
*.exe
*.o
*.vcxproj.filters
*.vcxproj.user
*.vpwhist
*.vtg
/msvc/.vs/cf01/FileContentIndex/
/msvc/.vs/cf01/v17
/msvc/cf01/x64/
/msvc/cf01_test/x64
/msvc/x64/
/slickedit_gcc/Debug/
/slickedit_gcc/Profile/
/slickedit_gcc/Release/
obj/*
